body{
    margin:0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Yu Gothic UI Light;
}
#grid{
    display: flex;
    background: linear-gradient(to right, #d00340, #e13128 30%, #f7680c);
    justify-content: space-around;
    flex: 1;
    align-items: center;
}
#grid .grid-wrapper{
 /* margin:0; */
}
#grid .grid-wrapper .grid-one{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-one .grid-one-box1{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
  
}
#grid .grid-wrapper .grid-one .grid-one-box2{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-one .grid-one-box3{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-one p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}

#grid .grid-wrapper .grid-two{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-two .grid-two-box1{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-two .grid-two-box2{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-two p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}


#grid .grid-wrapper .grid-three{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-three .grid-three-box1{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
  
}
#grid .grid-wrapper .grid-three .grid-three-box2{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-three .grid-three-box3{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-three .grid-three-box4{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-three p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}

#grid .grid-wrapper .grid-four{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-four .grid-four-box1{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
  
}
#grid .grid-wrapper .grid-four .grid-four-box2{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
}
#grid .grid-wrapper .grid-four .grid-four-box3{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
}
#grid .grid-wrapper .grid-four .grid-four-box4{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
}
#grid .grid-wrapper .grid-four .grid-four-box5{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
}
#grid .grid-wrapper .grid-four .grid-four-box6{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
}
#grid .grid-wrapper .grid-four p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}

#grid .grid-wrapper .grid-five{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-five .grid-five-box1{
  flex:3;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
  
}
#grid .grid-wrapper .grid-five .grid-five-box2{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-five .grid-five-box3{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-five p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}


#grid .grid-wrapper .grid-six{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#grid .grid-wrapper .grid-six .grid-six-box1{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
  
}
#grid .grid-wrapper .grid-six .grid-six-box2{
  flex:4;
  text-align: center;
  margin:0.5rem;
  border:1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-six .grid-six-box3{
  flex:1;
  text-align: center;
  margin:0.5rem;
  border: 1px solid #fbdbd1;
  background-color: #d9d7d754;
 
}
#grid .grid-wrapper .grid-six p{
  color:#fbdbd1;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 0.7rem;
}
@media all and (max-width:800px){
  #grid .grid-wrapper .grid-one p , #grid .grid-wrapper .grid-two p ,#grid .grid-wrapper .grid-three p,
  #grid .grid-wrapper .grid-four p, #grid .grid-wrapper .grid-five p,#grid .grid-wrapper .grid-six p{
  font-size: 0.9rem;
  margin: 0.2rem;
  }
}
@media all and (max-width:500px){
  #grid{
    align-items: flex-start;
  }
  #grid .grid-wrapper{
    margin-top:0.5rem;
   }
  #grid .grid-wrapper .grid-one p , #grid .grid-wrapper .grid-two p ,#grid .grid-wrapper .grid-three p,
  #grid .grid-wrapper .grid-four p, #grid .grid-wrapper .grid-five p,#grid .grid-wrapper .grid-six p{
    font-size: 0.8rem;
    padding: 0.1rem;
  }
  #grid .grid-wrapper .grid-six .grid-six-box2 {
    padding: 0.5rem;
  } 
  #grid .grid-wrapper .grid-five .grid-five-box1 {
    padding: 0.5rem;
 }
}